<header style="background-image: url({{ site.backgroundImage }}); background-size: cover">
  <nav>
    <ul>
      <li><a href="/" style="color: white;background-color: hsla(0, 0%, 45%, 0.705)">{{ site.name }}</a></li>
      {% for nav in collections.primary reversed %}
        <li>
          <a {% if page.url == nav.url %}class="current"{% endif %} href="{{ nav.url }}" style="color: white;background-color: hsla(0, 0%, 45%, 0.705)">{{ nav.data.title }}</a>
        </li>
      {% endfor %}
    </ul>
  </nav>
</header>