[data-theme=light],
:root:not([data-theme=dark]) {
  --background-color: #fff;
  --color: hsl(205, 20%, 32%);
  --h1-color: hsl(205, 30%, 15%);
  --h2-color: #24333e;
  --h3-color: hsl(205, 25%, 23%);
  --h4-color: #374956;
  --h5-color: hsl(205, 20%, 32%);
  --h6-color: #4d606d;
  --muted-color: hsl(205, 10%, 50%);
  --muted-border-color: hsl(205, 20%, 94%);
  --primary: hsl(195, 85%, 41%);
  --primary-hover: hsl(195, 90%, 32%);
  --primary-focus: rgba(16, 149, 193, 0.125);
  --primary-inverse: #fff;
  --secondary: hsl(205, 15%, 41%);
  --secondary-hover: hsl(205, 20%, 32%);
  --secondary-focus: rgba(89, 107, 120, 0.125);
  --secondary-inverse: #fff;
  --contrast: hsl(205, 30%, 15%);
  --contrast-hover: #000;
  --contrast-focus: rgba(89, 107, 120, 0.125);
  --contrast-inverse: #fff;
  --mark-background-color: #fff2ca;
  --mark-color: #543a26;
  --ins-color: #388e3c;
  --del-color: #c62828;
  color-scheme: light;
}

@media only screen and (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --background-color: #11191f;
    --color: hsl(205, 16%, 77%);
    --h1-color: hsl(205, 20%, 94%);
    --h2-color: #e1e6eb;
    --h3-color: hsl(205, 18%, 86%);
    --h4-color: #c8d1d8;
    --h5-color: hsl(205, 16%, 77%);
    --h6-color: #afbbc4;
    --muted-color: hsl(205, 10%, 50%);
    --muted-border-color: #1f2d38;
    --primary: hsl(195, 85%, 41%);
    --primary-hover: hsl(195, 80%, 50%);
    --primary-focus: rgba(16, 149, 193, 0.25);
    --primary-inverse: #fff;
    --secondary: hsl(205, 15%, 41%);
    --secondary-hover: hsl(205, 10%, 50%);
    --secondary-focus: rgba(115, 130, 140, 0.25);
    --secondary-inverse: #fff;
    --contrast: hsl(205, 20%, 94%);
    --contrast-hover: #fff;
    --contrast-focus: rgba(115, 130, 140, 0.25);
    --contrast-inverse: #000;
    --mark-background-color: #d1c284;
    --mark-color: #11191f;
    --ins-color: #388e3c;
    --del-color: #c62828;
    color-scheme: dark;
  }
}
[data-theme=dark] {
  --background-color: #11191f;
  --color: hsl(205, 16%, 77%);
  --h1-color: hsl(205, 20%, 94%);
  --h2-color: #e1e6eb;
  --h3-color: hsl(205, 18%, 86%);
  --h4-color: #c8d1d8;
  --h5-color: hsl(205, 16%, 77%);
  --h6-color: #afbbc4;
  --muted-color: hsl(205, 10%, 50%);
  --muted-border-color: #1f2d38;
  --primary: hsl(195, 85%, 41%);
  --primary-hover: hsl(195, 80%, 50%);
  --primary-focus: rgba(16, 149, 193, 0.25);
  --primary-inverse: #fff;
  --secondary: hsl(205, 15%, 41%);
  --secondary-hover: hsl(205, 10%, 50%);
  --secondary-focus: rgba(115, 130, 140, 0.25);
  --secondary-inverse: #fff;
  --contrast: hsl(205, 20%, 94%);
  --contrast-hover: #fff;
  --contrast-focus: rgba(115, 130, 140, 0.25);
  --contrast-inverse: #000;
  --mark-background-color: #d1c284;
  --mark-color: #11191f;
  --ins-color: #388e3c;
  --del-color: #c62828;
  color-scheme: dark;
}