---
title: Home
description: A collection of resources for using Git and GitHub
layout: base
---
<ul>
{% for post in collections.primary reversed %}
  <li><a href="{{ post.url }}">{{ post.data.description }}</a></li>
{% endfor %}
</ul>

<h2>Others Git commands</h2>

<ul>
{% for post in collections.secondary reversed %}
  <li><a href="{{ post.url }}">{{ post.data.description }}</a></li>
{% endfor %}
</ul>